*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #ADF5FF;
    font-family: "Montserrat", sans-serif;
    color: #481620;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0;
    display: flex;
    flex-direction: column;
}

.heading {
    margin: 25px auto;
    text-align: center;
    font-size: 1.25rem;
}

.icon {
    height: 40px;
    padding: 5px;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.rules{
    align-items: center;
    justify-content: center;
}
.rules-item, .rules-img {
    margin: 0 auto;
}

.game-area {
    margin: 0 auto;
    width: 85%;
    height: 75vh;
    min-height: 920px;
    border-radius: 3%;
    background-color: #0075A2;
    border: 2px solid #481620;
    color: #00FFC5;
}

.score-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.play-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.scores {
    display: inline;
    margin: 0 auto;
}

.game-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 300px;
    margin: 15px auto;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: #D55672;
    color: #ADF5FF;
}

.btn:hover {
    background-color: #481620;
    color: #00FFC5
}

.game-display {
    flex-direction: row;
    justify-content: space-between;
}

.game-image {
    margin: 15px 30px;
    border: 1px solid #00FFC5;
    border-radius: 2px;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.output {
    margin: 5px;
    border: 1px solid #00FFC5;
    border-radius: 2px;
    font-size: 1.2rem;
}

/* footer styles */
footer{
    background-color: #0075A2;
    border-top: 2px solid #481620;
}

.socials{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.socials a {
    color: #00FFC5;
    font-size: 250%;
}

.socials a:hover{
    color: #481620;
}

@media screen and (min-width: 769px){
    .top {
        display: none
    }

    .heading {
        font-size: 2.5rem;
    }

    iframe {
        height: 500px;
    }

    .rules {
        flex-direction: row;
    }

    .rules-item {
        font-size: 1.5rem;
    }

    .rules-img {
        width: 400px;
        height: 400px;
    }

    .scores{
        font-size: 1.5rem;
    }

    .game-display{
        flex-direction: column;
    }

    .play-area{
        flex-direction: row;
    }

    .game-image{
        width: 150px;
        height: 150px;
    }

    .game-area{
        min-height: 600px;
    }
}

@media screen and (max-width: 768px){
    .left, .right {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .game-image{
        margin: 0 100px;
        width: 225px;
        height: 225px;
    }
}