body{
    background-color: red;
    font-family: "Quicksand", sans-serif;
}

.heading {
    text-align: center;
    font-size: 2rem;
}

.icon {
    height: 40px;
    padding: 5px;
    color: yellow;
}

section {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 769px){
    .top {
        display: none
    }
}

@media screen and (max-width: 768px){
    .left, .right {
        display: none;
    }
}