body{
    background-color:  #5cb270;
    font-family: "Quicksand", sans-serif;
}
/* #FF6961 */ 
main {
    flex: 1 0;
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    font-size: 1.25rem;
}

.icon {
    height: 40px;
    padding: 5px;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.rules{
    align-items: center;
    justify-content: center;
}
.rules-item, .rules-img {
    margin: 0 auto;
}

.game-area {
    margin: 0 auto;
    width: 85%;
    height: 70vh;
    min-height: 450px;
    border-radius: 3%;
    background-color: rgb(151, 151, 153);
    border: 2px solid black;
}

.score-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.play-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scores {
    display: inline;
    margin: 0 auto;
}

.game-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn {
    max-width: 300px;
    margin: 5px;
    font-size: 18px;
    padding: 5px 20px;
}

.game-display {
    flex-direction: row;
    justify-content: space-evenly;
}

.game-image {
    margin: 15px auto;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    width: 75px;
    height: 75px;
}

.results {
    margin: 5px;
    border: 1px solid black;
    border-radius: 2px;
}

@media screen and (min-width: 769px){
    .top {
        display: none
    }

    .heading {
        font-size: 2.5rem;
    }

    iframe {
        height: 500px;
    }

    .rules {
        flex-direction: row;
    }

    .rules-item {
        font-size: 1.5rem;
    }

    .rules-img {
        width: 400px;
        height: 400px;
    }

    .scores{
        font-size: 1.5rem;
    }
    .game-display{
        flex-direction: column;
        align-items: baseline;
    }

    .game-image{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 768px){
    .left, .right {
        display: none;
    }
}

